.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #b5e6ad;
  }
  .home-mac-book-pro2 {
    width: 100%;
    height: 900px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: #b5e6ad;
  }
  .home-rectangle2 {
    top: 0px;
    left: -4px;
    width: 1447px;
    height: 86px;
    position: absolute;
    border-color: transparent;
  }
  .home-text {
    top: 18px;
    left: 84px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Kanit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-group3 {
    top: 26px;
    right: 62px;
    width: 403px;
    height: 30px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .home-text02 {
    left: 322.0589294433594px;
    color: rgba(255, 255, 255, 1);
    width: 81px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Kanit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text04 {
    color: rgba(255, 255, 255, 1);
    width: 88px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Kanit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text06 {
    left: 115.17340087890625px;
    color: rgba(255, 255, 255, 1);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Kanit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text08 {
    left: 206.8855438232422px;
    color: rgba(255, 255, 255, 1);
    width: 88px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Kanit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text10 {
    top: 140px;
    color: rgb(0, 0, 0);
    right: 77px;
    width: 525px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Regular;
    text-align: right;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-text11 {
    top: 326px;
    left: 31px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-text13 {
    top: 411px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    width: 400px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: One;
    text-align: justify;
    font-family: Fjord;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-saveatree1 {
    top: 204px;
    right: 40px;
    width: 497px;
    height: 500px;
    position: absolute;
    border-color: transparent;
  }
  